@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --light-color: rgb(201, 209, 217);
  --dark-color: rgb(13, 17, 23);
  font-weight: normal;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
}
body {
}
/*some re-use codes*/
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-right {
}
/*some re-use codes*/
.page-wrapper {
}
.wrapper {
}
header.header {
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 10% 10% 20% 1fr 10%;
}
header.header * {
  border: 1px solid rgba(0, 0, 0, 0.411);
}
header .menu-ctn {
}
.menu-ctn > img {
  width: 100%;

  margin-top: 0.8rem;
}
header .logo-ctn {
}
.logo-ctn > a {
  width: 100%;
}
.logo-ctn > a > img {
  width: 100%;
  border-radius: 50%;
}
header .page-name {
}
header .header-form {
  position: relative;
}
.header-form form.search-form {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr 15%;
}
form.search-form > label {
}
form.search-form > input {
}
form.search-form > button {
}
form.search-form > button > img {
  width: 2rem;
}
.topright {
  position: absolute;
  color: red;
  top: 0rem;
  right: 0.4rem;
  z-index: 200;
  cursor: pointer;
  font-size: 28px;
}
header .back-to-top {
}
.back-to-top a {
}
