@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --light-color: rgb(201, 209, 217);
  --dark-color: rgb(13, 17, 23);
  font-weight: normal;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
*,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
}
body {
  min-width: 100vw;
  font-size: 1.8px;
}
/*some re-use codes*/
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-right {
  position: absolute;
  color: red;
  top: 0rem;
  right: 0.4rem;
  z-index: 200;
  cursor: pointer;
  font-size: 28px;
}
/*some re-use codes*/

img {
  width: 100%;
}
a:hover {
  text-decoration: underline !important;
}
a {
  text-decoration: none !important;
}
