@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --light-color: rgb(201, 209, 217);
  --dark-color: rgb(13, 17, 23);
  font-weight: normal;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
}
body {
}
/*some re-use codes*/
.center {
}
.top-right {
}
/*some re-use codes*/
.page-wrapper {
}
.wrapper {
}
header.header {
}
header .menu-ctn {
}
.menu-ctn img {
  height: 4rem;
}
header .logo-ctn {
}
.logo-ctn .logo {
}
.logo-ctn .logo-img {
}
header .page-name {
}
header .header-form {
}
.header-form form.search-form {
}
form.search-form .search {
}
header .back-to-top {
}
.back-to-top a {
}
